<!DOCTYPE html>
<html ng-app="testApp">
<head>
    <meta charset="utf-8">
    <title>Fetch and display data example</title>
    <style>
        div.question {
            border: 1px solid #000000;
            margin: 3px;
            padding: 4px;
            background-color: #eeeeee;
            min-height: 40px;
            position: relative;
        }
        div.points {
            padding: 8px;
            float: left;
            align-content: center;
            vertical-align: middle;
            text-align: center;
            border-style: solid;
            border-width: 1px;
            border-color: black;
            background-color: #666666;
            color: aquamarine;
            font-family: Tahoma, Geneva, sans-serif;
            font-weight: bold;
            min-width: 18px;
        }
        div.title { 
            margin-left: 5px;
            margin-right: 5px;
            font-family: Arial, Helvetica, sans-serif;
            float: left;
            align-content: center;
            vertical-align: top;
        }
        div.author {
            padding: 2px;
            border: 1px solid #000000;
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            bottom: 2px;
            background-color: antiquewhite;
        }
        div.date { 
            margin: 2px;
            padding: 2px;
            font family: Arial, Helvetica, sans-serif;
            position: absolute;
            left: 120px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script>
        var serviceUrl = "http://test.c2project.net:3000/questions";

        var testApp = angular.module('testApp', []);
        testApp.controller('QuestionCtrl', function ($scope, $http)
        {

            $http.get(serviceUrl)
                    .success(
                            function(response) {
                                $scope.questions = response;
                            })

        });

    </script>
</head>

<body ng-controller="QuestionCtrl">

<h2>Angular.js JSONP Example</h2>

<div class="question" ng-repeat="question in questions | orderBy: 'points': true">
    <div class="points">
        {{question.points}}
    </div>
    
    <div class="title">
        <a href="http://test.c2project.net:3000/questions/{{question._id}}">{{question.title}}</a>
        
        <div class="author"> 
            {{question.author}}
        </div>
        <div class="date">
            Date: {{question.date}}
        </div>
    </div>
    
    
   
    
    
    
    
</div>
</body>
</html>
