<!DOCTYPE html>
<html ng-app="testApp">
<head>
    <meta charset="utf-8">
    <title>Fetch and display data example</title>
    <style>
        div.question {
            border: 1px solid #000000;
            margin: 3px;
            padding: 4px;
            background-color: #eeeeee;
            min-height: 35px;
            width: 600px;
        }
        div.points {
            padding: 8px;
            float: left;
            align-content: center;
            border-style: solid;
            border-width: 1px;
            border-color: black;
            background-color: black;
            color: white;
            font-weight: bold;
        }
        div.title {
            padding: 5px;
            margin: 5px;
            float: left;
            align-content: center;
            vertical-align: middle;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script>
        var serviceUrl = "http://test.c2project.net:3000/questions";

        var testApp = angular.module('testApp', []);
        testApp.controller('QuestionCtrl', function ($scope, $http)
        {

            $http.get(serviceUrl)
                    .success(
                            function(response) {
                                $scope.questions = response;
                            })

        });

    </script>
</head>

<body style="align-items: "center";" ng-controller="QuestionCtrl">

<h2>Key Compounding Site Prototype 00</h2>

<div class="question" ng-repeat="question in questions | orderBy: '-points' ">
    <div class="points">
        {{question.points}}
    </div>

    <div class="title">
        <a href="http://test.c2project.net:3000/questions/{{question._id}}">{{question.title}}</a>
    </div>


</div>
</body>
</html>
